*,
*::before,
*::after {
    box-sizing: border-box;
}

.widget {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    padding: 100px 88px;
    background: #fff;
}

.widget p {
    margin: 0;
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;

}

.widget button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}